* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

body {
    background-color: #EEEEEE;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    width: 100vw;
}

nav a:hover {
    color: black;
}

aside img:hover {
    filter: blur(1.5px);
}

.browse:hover {
    color: black;
}

header {
    height: 697.5px;
    border-bottom:  1px solid #CCCCCC;
    width: 100vw;
}



header p{
    /* position: absolute;
    margin-left: 100px;
    top: 198px; */
    font-size: 50px;
    font-weight: 400;
    line-height: 59px;
}

.headline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 15%;
}

.headline p:nth-of-type(1) {
    color: #659D89;
}

header ul {
    display: flex;
}

nav {
    margin-left: 15%;
    margin-bottom: 5%;
}

nav li{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-right: 22px;
}

header ul a{
    color: #659D89;
    text-decoration: none;
}

.browsw {
    margin-top: 10%;
}

.browse {
    color: #666666;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15%;
}

nav {
    width: 1240px;
    height: 19.5px;
}

nav ul {
    list-style-type: none;
}

aside {
    list-style-type: none;
    margin-left: 95%;
}

aside img {
    width: 20px;
    height: 20px;
}

main {
    height: 3430px;
    border-bottom: 1px solid #CCCCCC;
    position: absolute;
    top: 747.5px;
    width: 1440px;
}

main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.struggles {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.struggles p:nth-of-type(1) {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-left: 15%;
    margin-bottom: 15px;
}
.struggles p:nth-of-type(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 15%;
}

.struggles .second_section {
    border-bottom: 1px solid #CCCCCC;
}

.struggles_first_list img:hover {
    box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.struggles_second_list img:hover {
    box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.struggles_first_list {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.struggles_first_list li {
    display: inline-block;
    margin-right: 52.5px;
    margin-bottom: 52.5px;
}

.struggles_first_list img {
    width: 320px;
    height: 232px;
}

.struggles_second_list {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.struggles_second_list li {
    display: inline-block;
    margin-right: 52.5px;
}

.struggles_second_list img {
    width: 320px;
    height: 232px;
}

.features p {
    margin-left: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 50px;
    margin-bottom: 95px;
}

.focus_1 img{
    margin-left: 180px;
    height: 425.5px;
    width: 756px;
}

.focus_1 img:hover {
    box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.focus_1 p:nth-of-type(1){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 440px;
    margin-top: 17.5px;
    margin-bottom: 20px;
}

.focus_1 p:nth-of-type(2){
    font-family: Roboto;
    line-height: 23px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-left: 277px;
    margin-bottom: 20px;
}

.focus_1 p:nth-of-type(3){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 518px;
    margin-top: 0;
}

.sleep_1 img{
    margin-left: 504px;
    height: 425.5px;
    width: 756px;
}

.sleep_1 img:hover {
    box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.sleep_1 p:nth-of-type(1){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 793px;
    margin-top: 17.5px;
    margin-bottom: 20px;
}

.sleep_1 p:nth-of-type(2){
    font-family: Roboto;
    line-height: 23px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-left: 754px;
    margin-bottom: 20px;
}

.sleep_1 p:nth-of-type(3){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 841px;
    margin-top: 0;
}

.sleep_2 img{
    margin-left: 180px;
    height: 425.5px;
    width: 756px;
}

.sleep_2 img:hover {
    box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.sleep_2 p:nth-of-type(1){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 460px;
    margin-top: 17.5px;
    margin-bottom: 20px;
}

.sleep_2 p:nth-of-type(2){
    font-family: Roboto;
    line-height: 23px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-left: 399px;
    margin-bottom: 20px;
}

.sleep_2 p:nth-of-type(3){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 502px;
    margin-top: 0;
}

.focus_2 img{
    margin-left: 504px;
    height: 425.5px;
    width: 756px;
}

.focus_2 img:hover {
    box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.focus_2 p:nth-of-type(1){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 793px;
    margin-top: 17.5px;
    margin-bottom: 20px;
}

.focus_2 p:nth-of-type(2){
    font-family: Roboto;
    line-height: 23px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-left: 745px;
    margin-bottom: 20px;
}

.focus_2 p:nth-of-type(3){
    font-family: Roboto;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-left: 830px;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    position: absolute;
    top: 4269.4px;
    width: 1440px;
    height: 150px;
}

footer a {
    margin-left: 611px;
    font-size: 20px;
    line-height: 23px;
    color: #666666;
    text-decoration: none;
    font-weight: 400;
}

footer p{
    text-align: center;
    margin-top: 83px;
    color: #666666;
    font-size: 10px;
    margin-bottom: 0;
}

footer a:hover {
    color: black;
}